@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined");

.material-symbols-outlined {
    color: var(--light-sea-green);
}

:root {
    --dark-cyan: #008B8B;
    --dim-gray: #696969;
    --gainsboro: #DCDCDC;
    --ghost-white: #F8F8FF;
    --light-gray: #D3D3D3;
    --light-sea-green: #20B2AA;
    --white: #FFF;
    --white-smoke: #F5F5F5;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    display: grid;
    grid-template-areas:
        'row'
        'footer';
}

.row {
    grid-area: row;
    display: grid;
    grid-template-columns: 30% 70%;
    padding: 8px 32px
}

.footer {
    grid-area: footer;
    background-color: var(--light-sea-green);
    color: var(--white);
    padding: 8px;
    text-align: center;
}

img {
    width: 100%;
}

.group {
    display: -ms-flexbox;
    display: flex;
    padding: 4px 8px;
}

.group label {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px;
}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-style: solid;
    border-width: 1px 0px 0px;
    border-color: rgba(0, 0, 0, 0.1);
}

.card > label {
    margin-left: 8px;
}

.card > p {
    text-align: justify;
    text-justify: inter-word;
    text-indent: 50px;
    padding: 4px 16px;
}

progress {
    opacity: 0;
}
  
.progress-element {
    border-radius: 25px;
    margin: 8px;
    padding: 1px;
}

.progress-container {
    position: relative;
    background-color: var(--white-smoke);
    height: 20px;
    border-radius: 25px;
    overflow: hidden;
}

.progress-container::before {
    content: "";
    position: absolute;
    background-color: var(--light-sea-green);
    top: 0;
    left: 0;
    height: 100%;
    width: 0px;
}

.progress-element--100 .progress-container::before {
    animation: progress-100 1s ease-in forwards;
}

.progress-element--75 .progress-container::before {
    animation: progress-75 1s ease-in forwards;
}

.progress-label {
    position: relative;
}

@property --num {
    syntax: "<integer>";
    initial-value: 0;
    inherits: false;
}

.progress-label::after {
    counter-reset: num var(--num);
    content: counter(num) "%";
    position: absolute;
    top: 0;
    right: 0;
}

.progress-element--100 .progress-label::after {
    animation: progress-text-100 1s ease-in forwards;
}

.progress-element--75 .progress-label::after {
    animation: progress-text-75 1s ease-in forwards;
}

@keyframes progress-100 {
    to {
        width: 100%;
    }
}

@keyframes progress-75 {
    to {
        width: 75%;
    }
}

@keyframes progress-text-100 {
    to {
        --num: 100;
    }
}

@keyframes progress-text-75 {
    to {
        --num: 75;
    }
}

.frame {
    margin: 8px;
    box-shadow: 0px 4px 8px 0 rgba(0, 0, 0, 0.2), 0px 0px 0px 0px rgba(0, 0, 0, 0);
}

.frame > .title {
    font-weight: bold;
    font-size: large;
    background-color: var(--white-smoke);
}

.frame > .title > .group {
    display: -ms-flexbox;
    display: flex;
}

.frame > .title > .group label {
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: center;
}

.frame > .body {
    padding: 8px;
}

.section > .title {
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    height: 2rem;
    font-weight: bold;
    font-size: large;
}

.section > .body {
    display: grid;
}

label[for*="year"] {
    color: var(--light-sea-green);
}

.button {
    border-radius: 4px;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    transition-duration: 0.4s;
    cursor: pointer;
}

.button-transparent {
    background-color: transparent;
}

.button-transparent:hover {
    background-color: var(--white-smoke);
}
